includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:

    parallel:
        processTimeout: 600.0

    paths:
        - src
        - tests

    level: 8

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
      -
         messages:
           - '#^Unreachable statement - code above always terminates\.#'
           - '#.* deprecated .*#'
         path: '*/tests/*'
      -
         message: '#^Class SmartEmailing\\v3\\Endpoints\\Eshops\\.* extends deprecated class SmartEmailing\\v3\\Endpoints\\Eshops\\AbstractEshopOrdersRequest.*#'
